
$main: #2469AE;
$secondary: #FFB742;

.login-body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    .form-holder {
        width: 400px;

        h1 {
            margin-bottom: 2rem;
        }

        .login {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            background-color: $main;
            color: white;
            outline: none;
            border: none;
            font-size: 1.1em;
            cursor: pointer;
            padding-left: 3rem;
            padding-right: 3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 2rem;
            transition: .2s ease-out;
            border-radius: 4px;

            &:hover {
                box-shadow: 0px 0px 12px 2px #2469AE60;
            }
        }
    }
}

